h1 {
  margin-top:100px;
  margin-bottom:50px;
  font-weight: 300;
}

.muted {
  color:#ccc;
}

.clearall {
  height:30px;
}

.prodbuttons {
  margin-top:10px;
  margin-bottom:10px;
}

.typeicon {
  font-size: 48px;
  text-align:center;
  padding-top:0px;
  min-height:150px;
  width:100%;
}
.shareicon {
  padding-top:50px;
}

.sep { margin-right: 10px}

#bigsearchinput {
  width:90%;
}

.searchdiv {
  width:100%;
  margin-top:150px;
  margin-bottom:100px;
}

.innersearchdiv {
  width:90%;
}

.menublock {
  width:120px;
  height:120px;
  border: 1px solid #666;
  margin-bottom: 40px;
}

.resourcetype {
  color:#999;
}

.serptop {
  width:200px;
  height:200px;
  background-color:#666;
}
.serpbottom {
  width:200px;
  height:80px;
  border:1px solid #666;
  padding:5px;
  margin-bottom:50px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

#loading {
  display:none;
  font-size:16px;
}


/* search results styles */
#facets .facet-row {
  min-width: 180px;
  line-height: 1.5em;
}

#results .description {
  line-height: 1.5em;
  margin-bottom: 10px;
  font-weight: 300;
}
#results .facets {
  font-size: 12px;
  font-style: italic;
  margin-left: 140px;
}
  #results .facets span:after {
    content: ", ";
  }
  #results .facets span:last-child:after {
    content: "";
  }

/* modal styles */
#result-modal .modal-content {
  padding: 30px;
}
  #result-modal-content {
  }
    #result-modal-content h4 {
      margin: 5px 0 16px 0;
      font-size: 16px;
    }
    #result-modal-content .description {
      line-height: 20px;
      font-size: 13px;
      font-weight: 300;
    }
    #result-modal-content .filters {
      color: #999;
      font-size: 12px;
      margin-top: 10px;
    }
    #result-modal-content .filters span:after {
      content: ", ";
    }
    #result-modal-content .filters span:last-child:after {
      content: "";
    }
    #result-modal-content .result-button {
      border: 1px solid #000;
      height: 30px;
      display: inline-block;
      margin-top: 20px;
    }
      #result-modal-content .result-button a {
        width: 100%;
        height: 100%;
        display: inline-block;
        line-height: 26px;
        padding: 0 50px;
      }
  #result-modal .image-placeholder {
    width: 100%;
    height: 400px;
    background: #666;
  }
  #result-modal .recommended {
    font-size: 13px;
    margin-top: 50px;
  }
  #result-modal .recommended .recommended-title {
    margin-bottom: 8px;
  }
  #result-modal .recommended .recommended-item {
    width: 100%;
    height: 100px;
    background: #666;
  }

  /*label*/
  label {
    font-weight: 400;
  }

  /*resources links*/
  .row {
    margin-top: 50px;
  }

  .row .facet-row {
    margin-top: 0px;
  }

  h3 a {
    font-weight: 600;
  }



/*icon-images*/
.glyphicon {
  width: 48px;
  height: 48px;
  min-height: 48px;
  margin-left: 30px;
}

.glyphicon-facetime-video {
  content:url(assets/video_icon.png);
}

.glyphicon-book {
  content:url(assets/book_icon.png);
}

.glyphicon-list {
  content:url(assets/list_icon.png);
}


