h1 {
  margin-top:100px;
  margin-bottom:50px;
}

.muted {
  color:#ccc;
}

.clearall {
  height:30px;
}

.prodbuttons {
  margin-top:10px;
  margin-bottom:10px;
}

.typeicon {
  font-size: 48px;
  text-align:center;
  padding-top:50px;
  min-height:150px;
  width:100%;
}
.shareicon {
  padding-top:50px;
}

.sep { margin-right: 10px}

#bigsearchinput {
  width:90%;
}

.searchdiv {
  width:100%;
  margin-top:150px;
  margin-bottom:100px;
}

.innersearchdiv {
  width:90%;
}

.menublock {
  width:120px;
  height:120px;
  border: 1px solid #666;
  margin-bottom: 40px;
}

.resourcetype {
  color:#999;
}

.serptop {
  width:200px;
  height:200px;
  background-color:#666;
}
.serpbottom {
  width:200px;
  height:80px;
  border:1px solid #666;
  padding:5px;
  margin-bottom:50px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

#loading {
  display:none;
}