.spacer {
  height:150px;
}

.smallspacer {
  height:50px;
}

.muted {
  color:#ccc;
}

#bigsearchinput {
  width:90%;
}

.searchdiv {
  width:100%;
}

.innersearchdiv {
  width:90%;
}

.menublock {
  width:120px;
  height:120px;
  border: 1px solid #666;
  margin-bottom: 40px;
}

.resourcetype {
  color:#999;
}

.serptop {
  width:200px;
  height:200px;
  background-color:#666;
}
.serpbottom {
  width:200px;
  height:80px;
  border:1px solid #666;
  padding:5px;
  margin-bottom:50px;
}